// --------------------------------
// 変数定義
// --------------------------------
$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$font-color_default: #333;
// $font-color_: #;
// $font-color_: #;
// $font-color_: #;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 50px;
$space_4l: 100px;

$font-family_corp: 'Roboto', sans-serif;

$color_baseB: #2e2e2e;
$color_baseG: #626262;
$color_mainR: #ff5722;
$color_mainO: #ff9800;
$color_accent: #ffc107;

