@import "../../var";


.p-comment {
  width: 100%;
  margin: 0 auto;
  
  &-form {
    margin-top: $space_4l;
    font-size: $font-size_xl;
    display: flex;
    flex-direction: column;
    input[type="text"] {
      margin-right: auto;
      display: block;
      height: 30px;
      width: 100%;
      font-size: $font-size_l;
    }
    input[type="submit"] {
      width: 50px;
      border: 1px solid $color_baseG;
      border-radius: 3px;
      align-self: flex-end;
      margin-top: $space_l;
    }

     
  }

  &-list {
    margin-top: $space_xl;
    .comment-user {
      margin-right: $space_xl;
      font-style: italic
    }
  }
}